# 若无法进行正常操作 部分主机可能需要将下面一行最前面的注释符号删除
# RewriteBase /

# IndexIgnore *

Options -Indexes
Options +FollowSymlinks

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

# 若你的空间支持 SSL 请将下面各行最前面的注释符号删除 并将 t.orzdream.com 改为你的奶瓶腿地址
#RewriteCond %{HTTP_HOST} !=t.orzdream.com [NC,OR]
#RewriteCond %{HTTPS} !=on [NC]
#RewriteRule ^(.*)$ https://t.orzdream.com%{REQUEST_URI} [L,R=301]