table{border-collapse:collapse;width:100%;}
form{margin:0.3em;}
img{border:0;}
body{margin:0;font-family:Tahoma, Helvetica, sans-serif;}

#menu ul, #menu li {margin:0;padding:0;list-style:none;}
#menu ul {overflow:auto;}
#menu li {float:left;}
#menu a {display:block;padding:0.5em;text-decoration:none;border-right:1px solid #fff;font-size:110%;}

body.show-menu #menu-extras {display:block;}
#menu-extras {display:none;border-top:1px solid #eee;}
#menu-extras li {float:none;}
#menu-extras a {padding:0.8em;border-bottom:1px solid #eee;}

#thepage{width:700px;margin:0 auto;}
.timeline{width:700px;background:#FFF;font-size:14px;padding:1px;}
td{background:transparent;}
.odd, .even{border-bottom:1px solid #CCC;margin:1px 0;}
.odd:hover, .even:hover{background-color:#FFA;}
small,small a{color:#999;font-family:Tahoma, Helvetica, sans-serif;font-size:12px;}

.actionlinks{width:42px;margin:0;padding:0;}
.actionlinks a{display:block;float:left;}
a.tl-dm{display:none;}
a.tl-re, a.tl-fa, a.tl-uf, a.tl-rt, a.tl-re:hover, a.tl-fa:hover, a.tl-uf:hover, a.tl-rt:hover{width:40px;height:16px;background:url(../images/action.gif) no-repeat;text-indent:-99999px;}
a.tl-re{background-position:0 0;}
a.tl-fa{background-position:0 -16px;}
a.tl-uf{background-position:0 -32px;}
a.tl-rt{background-position:0 -48px;}
a.tl-re:hover{background-position:-40px 0;}
a.tl-fa:hover{background-position:-40px -16px;}
a.tl-uf:hover{background-position:-40px -32px;}
a.tl-rt:hover{background-position:-40px -48px;}
.pagination{text-align:center;margin:20px 0 30px 0;}
.pagination a{border:1px solid #DDDDDD;padding:2px 5px;text-decoration:none;}
.pagination a:hover {border-color:#ccc;background:#06c;color:#fff;}

.clear{clear:both;}
#header{background:#FFF;height:60px;}
#logo{float:left;}
#logo a{display:block;text-indent:-9999em;background:url(../images/logo.png) no-repeat 0 0;height:60px;width:170px;}
#nav{float:right;list-style-type:none;margin:33px 0 0 0;}
#nav li{float:left;margin:0 5px;}
#nav li.current{border-bottom:3px #079ACC solid;}
#nav li a{color:#079ACC;text-decoration:none;display:block;width:60px;height:26px;line-height:25px;text-align:center;}
#nav li a:hover{color:#FFF;background:#079ACC;}
#sub-nav{margin:0;padding:0;list-style:none;display:none;position:absolute;background:#FFF;border:1px solid #079ACC;}
#sub-nav li a{color:#079ACC;text-decoration:none;display:block;width:60px;height:26px;line-height:25px;text-align:center;}
#sub-nav li a:hover{color:#FFF;background:#079ACC;}
#statusform{width:700px;margin:5px auto;text-align:right;}