table{border-collapse:collapse;width:100%}
form{margin:.3em;}
img{border:0}
body{margin:0;font:90% sans-serif}

#menu ul, #menu li { margin: 0; padding: 0; list-style: none; }
#menu ul { overflow: auto; }
#menu li { float: left; }
#menu a { display: block; padding: 0.5em; text-decoration: none; border-right: 1px solid #fff; font-size: 110%; }

body.show-menu #menu-extras { display: block; }
#menu-extras { display: none; border-top: 1px solid #eee; }
#menu-extras li { float: none; }
#menu-extras a { padding: 0.8em; border-bottom: 1px solid #eee; }

.pagination{text-align:center;margin:20px 0 30px 0;}
.pagination a{border:1px solid #DDDDDD;padding:2px 5px;text-decoration:none;}
.pagination a:hover {border-color:#ccc;background:#06c;color:#fff;}

.avatar{display:block;left:0.3em;margin:0;overflow:hidden;position:absolute;}
.status{display:block;}
.shift{margin-left:54px;min-height:48px;